#################
## R packages
#################

*.Rproj
*.Rdata
*.Rhistory
.Rbuildignore
.Rhistory
*~
auto/
*.tex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex
*.synctex.gz
*.dvi
*.pdf
.Rproj.user
*.R#
*#