S3method("[",Pimage)
S3method(as.list,Pimage)
S3method(c,Pimage)
S3method(cut,Pimage)
S3method(print,Pimage)
export(Pimage)
export(bmvnorm)
export(chain.acceptance)
export(chain.bcov)
export(chain.collapse)
export(chain.cov)
export(chain.last)
export(chain.project)
export(chain.summary)
export(chain.tail)
export(chain.thin)
export(curve.model)
export(estelle.metropolis)
export(geolight.convert)
export(gperm)
export(grouped.threshold.model)
export(location.image)
export(location.kernelize)
export(location.mean)
export(location.rasterize)
export(location.summary)
export(longlatFromCell)
export(model.bin)
export(mvnorm)
export(parameters.gamma)
export(polar.threshold.model)
export(refracted)
export(satellite.model)
export(slice)
export(slice.indices)
export(slice.interval)
export(slices)
export(solar)
export(solar.residuals)
export(stella.metropolis)
export(sunrise)
export(sunset)
export(threshold.estimate)
export(threshold.location)
export(threshold.model)
export(threshold.path)
export(threshold.sensitivity)
export(trackDist)
export(trackDist2)
export(trackMidpts)
export(twilight)
export(twilight.pairs)
export(twilight.perturb)
export(twilight.simulate)
export(twilight.solartime)
export(unrefracted)
export(zenith)
export(zenith.simulate)
import(raster)
import(sp)
importFrom(MASS,bandwidth.nrd)
importFrom(MASS,kde2d)
